@import 'imports/normalize';
@import 'imports/mixins';

/*
>>================================================================================>
Site Variables
>>================================================================================>
*/

/*
Font Faces
>>------------->
*/

$font_primary: 'Roboto', sans-serif;
$font_secondary: 'Oswald', sans-serif;

/*
Font Weights
>>------------->
*/

$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;

/*
Colors
>>------------->
*/

$color_white: #ffffff;
$color_black: #000000;

/*
Site Colors
>>------------->
*/

$color_background: $color_white;
$color_highlighted_text: $color_white;
$color_highlighted_text_background: $color_black;

/*
Breakpoints
>>------------->
*/

$breakpoint_desktop: 768px;
$breakpoint_mobile: ($breakpoint_desktop - 1);

/*
Dimensions
>>------------->
*/

$site_width: 1400px;
$padding_desktop: 55px;
$padding_mobile: 15px;

/*
>>================================================================================>
Additional Resets and Helpers
>>================================================================================>
*/

@import 'imports/resets-helpers';

/*
>>================================================================================>
Typography
>>================================================================================>
*/

/*
All Resolutions 
>>------------->
*/

body {
    color: $color_black;
}

/*
Desktop
>>------------->
*/

@media screen and (min-width: $breakpoint_desktop) {
    
}

/*
Mobile
>>------------->
*/

@media screen and (max-width: $breakpoint_mobile) {
    
}

/*
>>================================================================================>
Main Header
>>================================================================================>
*/

#main-header {

    /*
    All Resolutions
    >>------------->
    */

    .site-logo {
        margin: 0;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        span {
            @include hidden();
        }
    }

    /*
    Desktop
    >>------------->
    */

    @media screen and (min-width: $breakpoint_desktop) {
        
    }

    /*
    Mobile
    >>------------->
    */

    @media screen and (max-width: $breakpoint_mobile) {
        
    }
}