/*
>>================================================================================>
Additional Resets to supplement Normalize.css
>>================================================================================>
*/

*,
*:before,
*:after {
    outline:none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-style: normal;
    margin-top: 0;
}

ul,
ol {
    margin-top: 0;
    padding: 0 0 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    display: block;
    overflow: visible;
    transition: fill 0.3s ease;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*
>>================================================================================>
"Helper" Classes
>>================================================================================>
*/

body {

    /* Page Loading Fade-In */

    &:before {
        content:'';
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        transition: opacity 500ms ease, visibility 500ms ease;
        top: 0;
        left: 0;
    }

    @at-root &.page-loaded:before {
        opacity: 0;
        visibility: hidden;
    }

    &.modal-active {
        height: 100vh;
        overflow-y: hidden
    }
}

a,
button,
input[type=submit] {
    @at-root .no-touchevents & {
        transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease, opacity 300ms ease;
    }
}

input,
textarea,
button,
fieldset,
legend {
    border-radius: 0;
    outline: none;
    border:none;
    padding: 0;
    margin: 0;
    background:transparent;
}

button {
    cursor: pointer;
}

a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
}

.visually-hidden {
    @include hidden();
}

.container {
    width: 100%;
    margin: 0 auto;

    &.full-width {
        max-width: 100%;
    }
}

.browserupgrade {
    display: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #f2f2f2;
    color: #000;
    padding: 10px;
    text-align: center;
}

.no-break {
    white-space: nowrap;
}

/*
Desktop
>>---------->
*/

@media screen and (min-width: $breakpoint_desktop) {
    .mobile-only {
        display: none;
    }
}

/*
Mobile
>>---------->
*/

@media screen and (max-width: $breakpoint_mobile) {
    .desktop-only {
        display: none !important;
    }
}