/*
>>================================================================================>
Site Variables
>>================================================================================>
*/

/*
Fonts
>>------------->
*/

$font_primary: Arial, "Helvetica Neue", Helvetica, sans-serif;

/*
Font Weights
>>------------->
*/

$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;

/*
Colors
>>------------->
*/

$color_white: #ffffff;
$color_black: #000000;

/*
>>================================================================================>
Additional Resets and Helpers
>>================================================================================>
*/

@import 'imports/resets-helpers-email';

// h1 {
// 	sup {
// 		font-size: 20px;
// 		line-height: 0;
// 		vertical-align: 7px;
// 	}
// }

// img.retina {
// 	&.img-class {
// 		max-width: 200px;
// 	}
// }

/*
>>================================================================================>
Reuseable Styles / Framework
>>================================================================================>
*/

#container {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

/*
>>================================================================================>
Placeholder
>>================================================================================>
*/

#placeholder {
    
}