/*
>>================================================================================>
Site Variables
>>================================================================================>
*/

/*
Fonts
>>------------->
*/

$font_primary: Arial, "Helvetica Neue", Helvetica, sans-serif;

/*
Font Weights
>>------------->
*/

$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;

/*
Colors
>>------------->
*/

$color_white: #ffffff;
$color_black: #000000;

/*
>>================================================================================>
Additional Resets and Helpers
>>================================================================================>
*/

@import 'imports/resets-helpers-email';

h1 {
	sup {
		/* Tweak these settings accordingly: */

		// font-size: 12px;
		// line-height: 0;
		// vertical-align: 2px;
	}
}

img.retina {
	width: 100%;
	
	&.img-class {
		/* max-width becomes the width of the image */
	}
}

/*
>>================================================================================>
Reuseable Styles / Framework
>>================================================================================>
*/

#container {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}