/*
>>================================================================================>
Site Variables
>>================================================================================>
*/

/*
Fonts
>>------------->
*/

$font_primary: Arial, "Helvetica Neue", Helvetica, sans-serif;

/*
Font Weights
>>------------->
*/

$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;

/*
Colors
>>------------->
*/

$color_dark_purple: #3f205b;
$color_purple: #8c2284;
$color_black: #000000;
$color_pink: #d9abd0;

/*
>>================================================================================>
Additional Resets and Helpers
>>================================================================================>
*/

@import 'custom/resets-helpers-email';

/*
>>================================================================================>
Reuseable Styles / Framework
>>================================================================================>
*/

#wrapper {
    background-color: $color_white;
}

#container {
    background-color: $color_white;
    width: 650px;
    margin: 0 auto;
}

/*
>>================================================================================>
Placeholder
>>================================================================================>
*/

#placeholder {
    
}