/*
>>================================================================================>
Site Variables
>>================================================================================>
*/

/*
Fonts
>>------------->
*/

$font_primary: Arial, "Helvetica Neue", Helvetica, sans-serif;

/*
Font Weights
>>------------->
*/

$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;

/*
Colors
>>------------->
*/

$color_purple: #3f205b;
$color_black: #000000;

/*
>>================================================================================>
Additional Resets and Helpers
>>================================================================================>
*/

@import 'custom/resets-helpers-email';

/*
>>================================================================================>
Placeholder
>>================================================================================>
*/

